{%extends 'base.html'%}

    {% block content%}
        <div class="container"></div>
            <h1>Pitch</h1>
            <h3>Pick a category and pitch it</h3>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card"style="background-color: #79AFBC; height:200px; text-align: centre; box-shadow: 5px 5px 10px 5px;">
            <a href="{{url_for('main.business')}}"style="color:aliceblue; font-family: 'Felipa', cursive; align-content:center;margin-left;top:50px;"><strong>Business Category</strong></a>
            </div>
                    </div>
                <div class="col-md-4"> 
                <div class="card"style="background-color: #79AFBC; height:200px; text-align: centre;position:relative; box-shadow: 5px 5px 10px 5px;">  
            <a href="{{url_for('main.sales')}}"style="color:aliceblue; font-family: 'Felipa', cursive; align-content:center;"><strong>Sales Category</strong></a>
                </div>
                </div>
                <div class="col-md-4">
                <div class="card"style="background-color: #79AFBC; height:200px; text-align: centre;text-size: 50px; box-shadow: 5px 5px 10px 5px;">  
            <a href="{{url_for('main.interview')}}" style="color:aliceblue; font-family: 'Felipa', cursive; align-content:center;"><strong>Interview Category</strong></a>
            </div> 
            </div>
            

            
    </div>
</div>
        {% endblock %}
    
